//Color
$white: #fff;
$body_title: #4E5665;
$body_text: #505050;
$line-color: rgba(#D0D4D8, .5);

//Fonts
%lato-regular{
    font-family: "Lato-Regular", sans-serif;
    font-weight: 400;
}

%lato-bold{
    font-family: "Lato-Bold", sans-serif;
    font-weight: 700;
}

%georgia-regular{
    font-family: "Georgia", sans-serif;
    font-weight: 400;
}

%georgia-bold{
    font-family: "Georgia-Bold", sans-serif;
    font-weight: 700;
}
