.about {
	padding: 80px 0 0;

	&__title {
		margin-bottom: 13px;
	}

	&__text {
		margin-bottom: 64px;
	}

	&__item {
		padding: 70px 0;
		margin-bottom: 100px;
		background-repeat: no-repeat;
		background-position: right;

		&:nth-child(even){
			background-position: left;
		}
		}
	}

	&__box {
		padding: 33px 40px 18px;
		background-color: $white;
		max-width: 470px;
		position: relative;

		&::after,
		&::before {
			content: "";
			position: absolute;
			width: 33px;
			height: 33px;
		}

		&::before {
			bottom: 19px;
			right: 19px;
			background-image: url("../img/svg/angle-right.svg");
		}

		&::after {
			top: 19px;
			left: 19px;
			background-image: url("../img/svg/angle-left.svg");
		}

		&-title {
			font-size: 24px;
			line-height: 25px;
			@extend %georgia-regular;
			text-align: left;
			margin-bottom: 20px;
		}
	}
}
