.photo {
  padding: 80px 0;
}

.photo__title {
  margin-bottom: 42px;
}

.photo__text {
  padding-bottom: 48px;
  margin-bottom: 56px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 270px;
    height: 1px;
    background-color: $line-color;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
  }
}

.photo__slider {
  max-width: 640px;
  margin: 0 auto;
}

.slick-arrow {
  position: absolute;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background-color: #ecb84c;
  cursor: pointer;
  transform: translateY(-50%);
  top: 50%;
  z-index: 5;
}

.slick-prev {
  left: -20px;
}

.slick-next {
  right: -20px;
}
